openapi: 3.1.0
info:
  title: HubSpot CRM REST API surface used by the hubspot integration
  description: >
    The exact HubSpot CRM v3 REST API surface the hubspot integration calls.
    Grounded in the provider documentation AND verified against a live HubSpot
    account (read-only GET probes). Where docs and the live API disagreed, the
    live API wins.
    API version is pinned to v3 (the current stable CRM objects API); it is
    carried in the URL path (/crm/v3/...), not a header.
servers:
  - url: https://api.hubapi.com
    description: >
      The single, global HubSpot API host. Unlike Salesforce there is no
      per-account instance URL — every account is reached at this same host, so
      no endpoint environment variable is needed. The account is selected solely
      by the Private App access token.
paths:
  /crm/v3/objects/contacts:
    get:
      operationId: listContacts
      summary: List (page) active Contact records
      description: >
        Returns one page of active (non-archived) contacts. The integration
        pins the query: limit=100 (the maximum page size), the fixed property
        list below, and no archived flag (so only active contacts are returned —
        archived defaults to false). Subsequent pages are fetched by re-issuing
        this same request with the after cursor set to paging.next.after from the
        previous page (see components.schemas.PageEnvelope). Requesting an
        unknown property is ignored by the live API (returns 200), so the pinned
        list is safe across accounts.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: true
          description: >
            Page size. The integration pins 100, the maximum the live API
            accepts (a value below 1 returns 400 VALIDATION_ERROR — verified).
          schema:
            type: integer
            const: 100
        - name: properties
          in: query
          required: true
          description: >
            Comma-separated list of contact properties to return inside each
            record's properties object. The integration pins exactly this list;
            property names verified to exist on the live account.
          schema:
            type: string
            const: firstname,lastname,email,jobtitle,company
        - name: after
          in: query
          required: false
          description: >
            Opaque pagination cursor. Absent on the first request; on later
            requests set to paging.next.after from the previous page. Follow the
            after cursor value against this same path — do NOT follow
            paging.next.link verbatim (the live API returns that link with a
            differently-ordered path, /crm/objects/v3/contacts, which is not the
            canonical route; the after cursor is authoritative).
          schema:
            type: string
      responses:
        "200":
          description: One page of contact results (verified by live probe).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageEnvelope"
        "400":
          description: >
            Validation error, e.g. limit below 1 (live probe: category
            VALIDATION_ERROR).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: >
            Missing or invalid access token (live probe: category
            INVALID_AUTHENTICATION).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /crm/v3/objects/contacts/search:
    post:
      operationId: searchContacts
      summary: Search Contact records changed since a watermark (incremental sync)
      description: >
        Used by the incremental sync path. Returns contacts whose
        lastmodifieddate is at or after a watermark, so both newly-added and
        updated contacts are captured (a new contact's lastmodifieddate equals
        its createdate). This is a POST, but read-only — it queries, it does not
        mutate. Verified against the live API. Note the format asymmetry: the
        filter value is epoch MILLISECONDS (a string), while the
        lastmodifieddate returned inside each record is ISO-8601 (see
        ContactRecord). Pagination is the same cursor model as the list endpoint
        (paging.next.after), and the response additionally carries total. The
        search index caps total results at 10000 and applies stricter rate
        limits than the list endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: One page of search results (verified by live probe).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchEnvelope"
        "400":
          description: >
            Malformed request, e.g. a filter value outside the accepted range
            (live probe: an out-of-range epoch value returns 400).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /crm/v3/objects/companies:
    get:
      operationId: listCompanies
      summary: List (page) active Company records
      description: >
        Returns one page of active (non-archived) companies. Same envelope and
        cursor pagination as the contacts list endpoint. The integration pins
        limit=100 and the fixed property list below. Verified against the live
        API. NOTE: companies expose their modification date as
        hs_lastmodifieddate — NOT lastmodifieddate as contacts do.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            const: 100
        - name: properties
          in: query
          required: true
          description: Fixed company property list requested by the integration.
          schema:
            type: string
            const: name,domain,industry
        - name: after
          in: query
          required: false
          description: >
            Opaque pagination cursor from paging.next.after of the previous page;
            absent on the first request. Followed against this same path.
          schema:
            type: string
      responses:
        "200":
          description: One page of company results (verified by live probe).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyPageEnvelope"
        "400":
          description: Validation error (e.g. limit below 1).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
  /crm/v3/objects/companies/search:
    post:
      operationId: searchCompanies
      summary: Search Company records changed since a watermark (incremental account sync)
      description: >
        The account analogue of the contacts search endpoint. Returns companies
        whose hs_lastmodifieddate is at or after a watermark. CRITICAL: companies
        filter and sort on hs_lastmodifieddate, NOT lastmodifieddate (that
        property is contacts-only). Same POST-but-read-only, same epoch-ms filter
        value vs ISO-8601 output asymmetry, same cursor pagination and total as
        the contacts search endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanySearchRequest"
      responses:
        "200":
          description: One page of company search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanySearchEnvelope"
        "400":
          description: Malformed request (e.g. a filter value outside the accepted range).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
        "401":
          description: Missing or invalid access token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorEnvelope"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Authorization: Bearer <access_token>, where the token is a HubSpot
        Private App access token read from the HUBSPOT_ACCESS_TOKEN environment
        variable. The token is static — there is no token-exchange or refresh
        step; the same token is sent on every request.
  schemas:
    PageEnvelope:
      type: object
      description: >
        Pagination model — cursor-based. When more pages exist, paging.next.after
        holds the opaque cursor for the next page; re-issue the list request with
        after set to that value. When no more pages remain, the paging object is
        ABSENT entirely (verified by following the cursor to the final page).
        There is no total count on the list response. Default page size is 10;
        the integration pins the maximum of 100.
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/ContactRecord"
        paging:
          type: object
          description: Present only when a further page exists.
          properties:
            next:
              type: object
              required: [after]
              properties:
                after:
                  type: string
                  description: Opaque cursor for the next page.
                link:
                  type: string
                  description: >
                    A convenience URL for the next page. NOT followed by the
                    integration — see the after parameter note; the cursor is
                    authoritative.
    SearchRequest:
      type: object
      description: >
        Request body for the incremental search. The integration pins the same
        property list as the list endpoint and sorts ascending by
        lastmodifieddate so pagination is stable. The single filter selects
        contacts changed at or after the watermark.
      required: [filterGroups, properties, limit]
      properties:
        filterGroups:
          type: array
          description: >
            One filter group holding one filter: lastmodifieddate GTE the
            watermark. A single group means all its filters are ANDed; one filter
            is all the integration needs. HubSpot allows at most 5 groups and 18
            filters total.
          items:
            type: object
            required: [filters]
            properties:
              filters:
                type: array
                items:
                  type: object
                  required: [propertyName, operator, value]
                  properties:
                    propertyName:
                      type: string
                      const: lastmodifieddate
                    operator:
                      type: string
                      const: GTE
                    value:
                      type: string
                      description: >
                        The watermark as epoch MILLISECONDS, serialized as a
                        string (e.g. "1782894939000"). NOT ISO-8601 — that is the
                        output format only. Absurdly out-of-range values return
                        400 (verified by live probe).
        properties:
          type: array
          description: Same pinned property list as the list endpoint.
          items:
            type: string
          const: [firstname, lastname, email, jobtitle, company]
        sorts:
          type: array
          description: >
            Sort ascending by lastmodifieddate for stable pagination across
            pages.
          items:
            type: object
            properties:
              propertyName:
                type: string
                const: lastmodifieddate
              direction:
                type: string
                const: ASCENDING
        limit:
          type: integer
          description: >
            Page size. Pinned to 100. The search endpoint accepts up to 200.
          const: 100
        after:
          type: string
          description: >
            Opaque pagination cursor from paging.next.after of the previous
            page. Absent on the first request.
    SearchEnvelope:
      type: object
      description: >
        Search response. Same cursor pagination as PageEnvelope (paging is ABSENT
        on the final page), but additionally carries total — the count of
        matching contacts (the search index caps this at 10000).
      required: [total, results]
      properties:
        total:
          type: integer
          description: Total number of matching contacts (capped at 10000).
        results:
          type: array
          items:
            $ref: "#/components/schemas/ContactRecord"
        paging:
          type: object
          description: Present only when a further page exists.
          properties:
            next:
              type: object
              required: [after]
              properties:
                after:
                  type: string
                  description: Opaque cursor for the next page.
    ContactRecord:
      type: object
      description: >
        One contact entry of results[]. Business fields live inside the nested
        properties object, NOT at the top level. Id is always present and equals
        properties.hs_object_id. Any requested property can be null (a live
        contact was found with firstname and lastname both null). Email content
        is NOT guaranteed to be a valid email address — the host stores the
        mapped data verbatim and performs no validation.
      required: [id, properties]
      properties:
        id:
          type: string
          description: Stable HubSpot record id; equals properties.hs_object_id.
        properties:
          type: object
          description: >
            The requested contact properties. Only the pinned list is requested,
            but HubSpot also returns hs_object_id, createdate, and
            lastmodifieddate. Each value is a string or null.
          properties:
            firstname:
              type: [string, "null"]
            lastname:
              type: [string, "null"]
            email:
              type: [string, "null"]
            jobtitle:
              type: [string, "null"]
            company:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            createdate:
              type: [string, "null"]
            lastmodifieddate:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: [string, "null"]
        updatedAt:
          type: [string, "null"]
        archived:
          type: [boolean, "null"]
          description: Always false on the list endpoint (archived contacts are excluded).
        url:
          type: [string, "null"]
          description: HubSpot UI deep-link; not business data.
      additionalProperties: true
    CompanyPageEnvelope:
      type: object
      description: >
        Company list response. Same cursor pagination as PageEnvelope — paging is
        ABSENT on the final page.
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/CompanyRecord"
        paging:
          type: object
          description: Present only when a further page exists.
          properties:
            next:
              type: object
              required: [after]
              properties:
                after:
                  type: string
                  description: Opaque cursor for the next page.
    CompanyRecord:
      type: object
      description: >
        One company entry of results[]. Business fields live inside the nested
        properties object. Id is always present and equals
        properties.hs_object_id. Any requested property can be null (a live
        company was found with name null). The modification date is exposed as
        hs_lastmodifieddate — NOT lastmodifieddate.
      required: [id, properties]
      properties:
        id:
          type: string
          description: Stable HubSpot record id; equals properties.hs_object_id.
        properties:
          type: object
          description: >
            The requested company properties. Only the pinned list is requested,
            but HubSpot also returns hs_object_id, createdate, and
            hs_lastmodifieddate. Each value is a string or null.
          properties:
            name:
              type: [string, "null"]
            domain:
              type: [string, "null"]
            industry:
              type: [string, "null"]
            hs_object_id:
              type: [string, "null"]
            createdate:
              type: [string, "null"]
            hs_lastmodifieddate:
              type: [string, "null"]
          additionalProperties: true
        createdAt:
          type: [string, "null"]
        updatedAt:
          type: [string, "null"]
        archived:
          type: [boolean, "null"]
          description: Always false on the list endpoint (archived companies are excluded).
        url:
          type: [string, "null"]
          description: HubSpot UI deep-link; not business data.
      additionalProperties: true
    CompanySearchRequest:
      type: object
      description: >
        Request body for the incremental company search. Mirrors SearchRequest
        but filters and sorts on hs_lastmodifieddate (companies' modification
        property), and pins the company property list.
      required: [filterGroups, properties, limit]
      properties:
        filterGroups:
          type: array
          items:
            type: object
            required: [filters]
            properties:
              filters:
                type: array
                items:
                  type: object
                  required: [propertyName, operator, value]
                  properties:
                    propertyName:
                      type: string
                      const: hs_lastmodifieddate
                    operator:
                      type: string
                      const: GTE
                    value:
                      type: string
                      description: >
                        The watermark as epoch MILLISECONDS, serialized as a
                        string. NOT ISO-8601 — that is the output format only.
        properties:
          type: array
          description: Same pinned property list as the companies list endpoint.
          items:
            type: string
          const: [name, domain, industry]
        sorts:
          type: array
          items:
            type: object
            properties:
              propertyName:
                type: string
                const: hs_lastmodifieddate
              direction:
                type: string
                const: ASCENDING
        limit:
          type: integer
          const: 100
        after:
          type: string
          description: Opaque pagination cursor; absent on the first request.
    CompanySearchEnvelope:
      type: object
      description: >
        Company search response. Same shape as SearchEnvelope: total plus results
        of CompanyRecord, with paging ABSENT on the final page.
      required: [total, results]
      properties:
        total:
          type: integer
          description: Total number of matching companies (capped at 10000).
        results:
          type: array
          items:
            $ref: "#/components/schemas/CompanyRecord"
        paging:
          type: object
          description: Present only when a further page exists.
          properties:
            next:
              type: object
              required: [after]
              properties:
                after:
                  type: string
                  description: Opaque cursor for the next page.
    ErrorEnvelope:
      type: object
      description: >
        Every error response body is a JSON OBJECT (not an array). Verified by
        live probes for 400 VALIDATION_ERROR and 401 INVALID_AUTHENTICATION.
      required: [status, message, category]
      properties:
        status:
          type: string
          description: Always the literal "error".
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
          description: e.g. INVALID_AUTHENTICATION, VALIDATION_ERROR.
        context:
          type: object
          description: Optional per-error detail map.
          additionalProperties: true
